---
export const prerender = false

import Layout from "@layouts/Layout.astro";
import Products from "@components/Products.astro";


const groupedByExactTag = await getShopifyProducts();
---

<Layout title="Welcome to Roots Barefoot Budget Generator">
	<main class="container mx-auto w-full place-content-center">
		<Products products={groupedByExactTag}/>
	</main>
</Layout>
