---

---

<nav class="h-[60px] flex justify-center gap-10 p-8">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">Productos</a>
    </div>
    <div class="flex-1">
        <a href="/carrito" class="btn btn-ghost text-xl">Pedido</a>
    </div>
    <div class="flex-1">
        <a href="/api/auth/signout" class="btn btn-ghost text-xl">Logout</a>
    </div>
</nav>
