---
interface Props {
	title: string;
}

import "@styles/global.css";
import NavBar from "@components/NavBar.astro";
import SessionExpiration from "@components/SessionExpiration.jsx";
import Footer from "@components/Footer.astro";
const { title = 'Roots Barefoot B2B Budget Generator'  } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon_roots.webp" />
		<title>{title}</title>
	</head>
	<body>
		<div class="h-full place-content-center">
			<slot />
		</div>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #bbb;
		color: #fff;
	}
	code {
		font-family:
			"Figtree Variable",
			sans-serif,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		display: flex;
		flex-direction: column;
		juist-content: center;
		align-items: center;
		min-height: 100vh;
		height: 90vh;
		width: 100%;
		margin: 0;
	}
</style>
