---
import Layout from '@layouts/Layout.astro';
import AdminProducts from '@components/admin/AdminProducts.jsx';

const pageTitle = 'Panel de Productos | Admin';
---

<Layout title={pageTitle}>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <AdminProducts client:load />
  </div>
</Layout>
